.btn-nav {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-language {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.person-details-font {
    font-weight: 300;
    line-height: 1.2;
}
.hidden {
    display: none;
}
.hoverAnimation {
    cursor: pointer;
    transition: transform 0.5s, box-shadow 200ms ease-out;
}
.hoverAnimation:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}