<!DOCTYPE HTML>
<html lang="en-EN" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="~{static/fragments :: bootstrapStylesheet}"></div>
    <head>
        <div th:insert="~{static/fragments :: languageScript}"></div>
        <title>Demo</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
   <body class="main-background">
        <div th:insert="~{static/fragments :: header}"></div>

        <div class="container my-4">
            <div class="d-flex row align-items-stretch">

                <div class="col-md-6 d-flex align-items-stretch p-3">
                    <div class="rounded-3 text-center bg-light mh-150 w-100 d-flex justify-content-center align-items-center hoverAnimation" onclick="location.href='/demo/loadDuckTales';">
                        <div class="align-self-center">
                            <h1 class="display-4" data-i18n="loadDuckTalesDemo">Load Donald Duck tree</h1>
                            <p class="lead" data-i18n="loadDuckTalesDescription"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div th:insert="~{static/fragments :: footer}"></div>
    </body>
</html>