<!DOCTYPE HTML>
<html lang="en-EN" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="~{static/fragments :: bootstrapStylesheet}"></div>
    <head>
        <div th:insert="~{static/fragments :: languageScript}"></div>
        <title data-i18n="mainPage">Main page</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
    <body th:style="'background: #f7f2e9'">
        <div th:insert="~{static/fragments :: header}"></div>

        <div class="container my-4">
            <div class="d-flex row align-items-stretch">
                <div class="col-md-6 d-flex align-items-stretch p-3">
                    <div class="rounded-3 text-center bg-light mh-150 w-100 d-flex justify-content-center align-items-center hoverAnimation" onclick="location.href='/person/aboutme';">
                        <div class="align-self-center">
                            <h1 class="display-4" data-i18n="myDetails">My details</h1>
                            <p class="lead" data-i18n="myDetailsDescription"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch p-3">
                    <div class="rounded-3 text-center bg-light mh-150 w-100 d-flex justify-content-center align-items-center hoverAnimation" onclick="location.href='/person/add';">
                        <div class="align-self-center">
                            <h1 class="display-4" data-i18n="addFamilyMember">Add family member</h1>
                            <p class="lead"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch p-3">
                    <div class="rounded-3 text-center bg-light mh-150 w-100 d-flex justify-content-center align-items-center hoverAnimation" onclick="location.href='/person/all';">
                        <div class="align-self-center">
                            <h1 class="display-4" data-i18n="allFamilyMembers">Members of your family</h1>
                            <p class="lead" data-i18n="allFamilyMembersDescription"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch p-3">
                    <div class="rounded-3 text-center bg-light mh-150 w-100 d-flex justify-content-center align-items-center hoverAnimation">
                        <div class="align-self-center">
                            <h1 class="display-4">Lorem ipsum</h1>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta ac mi eu efficitur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{static/fragments :: footer}"></div>
    </body>
</html>