<!DOCTYPE HTML>
<html lang="en-EN" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="~{static/fragments :: bootstrapStylesheet}"></div>
    <head>
        <div th:insert="~{static/fragments :: languageScript}"></div>
        <title >Index</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
   <body class="main-background">
        <div th:insert="~{static/fragments :: header}"></div>



        <div th:insert="~{static/fragments :: footer}"></div>
    </body>
</html>