<!DOCTYPE HTML>
<html lang="en-EN" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="~{static/fragments :: bootstrapStylesheet}"></div>
    <head>
        <div th:insert="~{static/fragments :: languageScript}"></div>
        <title data-i18n="login">Login</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
   <body class="main-background">
        <div th:insert="~{static/fragments :: header}"></div>

        <h1>Login</h1>
        <form th:action="@{/login}" class="col-sm-6" method="post">
            <div class="row mb-3">
                <label for="username" class="col-sm-2 col-form-label">Login:</label>
                <div class="col-sm-10">
                    <input type="text" id="username" class="form-control" name="username">
                </div>
            </div>
            <div class="row mb-3">
                <label for="password" class="col-sm-2 col-form-label" data-i18n="password">Password:</label>
                <div class="col-sm-10">
                    <input type="password" id="password" class="form-control" name="password">
                </div>
            </div>
            <div>
                <br>
                <button class="btn btn-primary btn-lg" type="submit" data-i18n="login">Login</button>
            </div>
        </form>

        <div th:insert="~{static/fragments :: footer}"></div>
    </body>
</html>