<!DOCTYPE HTML>
<html lang="en-EN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <th:block th:replace="~{common/fragments :: headResources}"></th:block>
        <title>Index</title>
    </head>
    <body class="main-background">
        <header th:replace="~{common/fragments :: header}"></header>

        <div class="col-md-6">
            <form action="/api/file/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" class="row mb-3 form-control" id="formFile" accept=".ged" required>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit" class="row mb-3 btn btn-primary" data-i18n="uploadGedFile">Upload</button>
            </form>
        </div>

        <footer th:replace="~{common/fragments :: footer}"></footer>
    </body>
</html>
