<!DOCTYPE html>
<html  lang="en-EN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div th:fragment="bootstrapStylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGaOFOA/4rGkFUOdJGZ8dMUZ"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </div>
    <head>
        <div th:fragment="languageScript">
            <script src="/js/localization.js" defer></script>
        </div>
        <title>Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
   <body class="main-background">
        <div  th:fragment="header">
            <header>
                <h1 id="page-title" data-i18n="title">My Genealogical Tree</h1>
                <div class="row">
                    <div class="col">
                        <nav class="p-2">
                            <a href="/" sec:authorize="isAnonymous()" class="btn btn-nav" role="button" data-i18n="mainPage">Main page</a>
                            <a href="/home" sec:authorize="!isAnonymous()" class="btn btn-nav" role="button" data-i18n="mainPage">Main page</a>
                            <a href="/login" sec:authorize="isAnonymous()" class="btn btn-nav" role="button" data-i18n="login">Log in</a>
                            <a href="/register" sec:authorize="isAnonymous()" class="btn btn-nav" role="button" data-i18n="register">Register</a>
                            <form action="/logout" method="post" sec:authorize="!isAnonymous()" style="display: inline;">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                <button type="submit" class="btn btn-nav" data-i18n="logout">Log out</button>
                            </form>
                        </nav>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="p-2">
                            <button class="btn btn-language btn-sm" onclick="changeLanguage('en-EN')">English</button>
                            <button class="btn btn-language btn-sm" onclick="changeLanguage('pl-PL')">Polski</button>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <div th:fragment="footer">
            <footer>
                <p>&copy; 2025 Aldhafara company</p>
            </footer>
        </div>

    </body>
</html>